*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #faf8f3;
    font-family: 'Noto Serif Display', serif;
}

.wrapper {
    max-width: 1180px;
    margin: 0 auto;
}

.header {
    height: 100vh;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_items {
    display: flex;
    justify-content: space-around;
}

.nav_items > li {
    list-style: none;
    padding-left: 20px;
}

.nav_items > li:first-child {
    padding-left: 0;
}

.nav_items > li > a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 20px;
}

.logo {
    max-width: 150px;
}

.text-block{
    margin-top: 100px;
    background-color: #2b4f57;
    padding-bottom: 110px;
    background-image: url('../img/bgc.png');
    background-position: center center;
    
    
}

.text-block_item {
    padding-top: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.text {
    line-height: 30px;
    font-size: 20px;
}

.text > strong > i > a {
    text-decoration: none;
    color: #e4b864;
}

.slider {
    margin-top: 150px;
    margin-bottom: 150px;
}

.container {
    width: 700px;
    height: auto;
    margin: 0 auto;
}

.slider__wrapper {
    overflow: hidden;
}

.slider__item {
    flex: 0 0 50%;
    max-width: 50%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255,255,255, 0.8);
    font-size: 7rem;
}

.slider__item:nth-child(1) {
    background-color: #f44336;
}

.slider__item:nth-child(2) {    
    background-color: #9c27b0;
}

.slider__item:nth-child(3) {
    background-color: #3f51b5;
}

.slider__item:nth-child(4) {
    background-color: #03a9f4;
}

.slider__item:nth-child(5) {
    background-color: #4caf50;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 900;
}